<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form (ngSubmit)="resetPassword()" #resetForm="ngForm" novalidate>
    <div class="form-group">
      <label for="newPassword"> Enter a new password and click the reset button.
                                Then you will be redirected to the login page where you can use your new
                                password</label>
      <input type="password" placeholder="new password" id="newPassword" name="newPassword" [(ngModel)]="resetData.newPassword" required>
    </div>
    <div class="text-center">
    <button type="submit" class="button">Reset</button></div>
  </form>
</div>
