.posts-container {
  display: flex;
  margin: 20px 0 0 0;
}

.posts-container ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.posts-container li {
  display: flex;
  border-bottom: 1px solid #e1e8ed;
}

.post {
  display: flex;
  padding: 12px;
  border: 1px #e1e8ed;
  flex-direction: column;
  border-radius: 5px;
}

.post:hover {
  background-color: #F5F5F5;
}

.no-posts {
  font-size: xx-large;
  font-weight: 500;
  color: #657786;
}
