<div class="page-wrapper">
  <div class="left-panel-wrapper">
    <div class="left-panel">
      <div class="logo">
        <span class="logo-text">innotter</span>
        <div class="red-bar"></div>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/home">
            <svg width="35" height="35" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house"
                 viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            <span class="icon-text">Home</span></a></li>
          <li><a href="/user/{{userId}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person"
                 viewBox="0 0 16 16">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
            <span class="icon-text">Account</span></a></li>
          <li>
            <a href="/page/{{pageService.getSelectedPageId()}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                   class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              <span class="icon-text">Page</span></a>
          </li>
        </ul>
      </div>
      <h5>Your pages:</h5>
      <user-pages></user-pages>
      <div class="text-right">
        <create-page></create-page>
      </div>
    </div>
    <div class="logout-btn-wrapper">
      <logout-btn></logout-btn>
    </div>
  </div>

  <div class="content-wrapper">
    <h4 style="color: #657786;">For you</h4>
    <div *ngIf="isPageSelected()">
      <app-create-post></app-create-post>
    </div>
    <div class="content" *ngIf="newsFeed$ | async as newsFeed">
      <app-posts [posts]="newsFeed"></app-posts>
    </div>
  </div>

  <div class="right-panel-wrapper">
    <div class="search">
      <div class="search-container">
        <div class="search-box">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#E10C0C" class="bi bi-search"
               viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
          <input
            type="text"
            id="search-input"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
            (keydown.enter)="onSearch()"
          />
        </div>
      </div>
      <div class="search-explanation">
        <p>Try searching for pages by name, uuid or tags</p>
      </div>
    </div>
    <div #searchResultsContainer class="search-results" *ngIf="searchResult">
      <div class="search-result-item" *ngFor="let result of searchResult">
        <a [routerLink]="['/page', result.id]">{{ result.name }} @{{ result.uuid }}</a>
      </div>
    </div>
    <div class="search-tags">
      <h5>Page tags (click on to search)</h5>
      <input class="search-tags-input" type="text" [(ngModel)]="searchTag" (input)="onTagSearch()"
             placeholder="Search by tag" maxlength="50">
      <div class="tags">
        <ul class="tag-list">
          <li class="tag-list-item" *ngFor="let tag of filteredTags" (click)="activateTagSearch(tag)">
            <div class="tag-text" [title]="tag">{{ tag }}</div>
            <div class="tag-tooltip">{{ tag }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


